<!DOCTYPE html>
<html>
<head>
  {{ if .Site.GoogleAnalytics }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ .Site.GoogleAnalytics }}');
  </script>
  {{ end }}

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <link rel="icon" href="{{ "/favicon.ico" | relURL }}" type="image/x-icon">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
  {{ end }}

  <link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
  <link async="async" rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/font-awesome/5.8.1/css/all.css">
  <link async="async" rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/csshake/1.5.3/csshake.min.css" />
  <script src="https://cdnjs.loli.net/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.loli.net/ajax/libs/smoothscroll/1.4.9/SmoothScroll.min.js" defer></script>
  <script src="https://cdnjs.loli.net/ajax/libs/slideout/0.1.9/slideout.min.js"></script>
  
  <!-- 先用sb的反代cdn, 慢的话就local -->
  <!-- <link async="async" rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}"> -->
  <!-- <script src="{{ "/js/highlight.min.js" | relURL }}"></script> -->
  <!-- <script src="{{ "/js/smoothScroll.min.js" | relURL }}"></script> -->
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>

    
    

  <!-- Google Adsense -->
  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1972491097584249",
    enable_page_level_ads: true
  });
  </script> -->
</head>

<body>
  <nav id="menu" class="mobile-menu">
      <ul class="mobile-menu-list">
          <li><a href="{{ "/" | relURL }}" class="logo-title">MAKE YOURSELF BETTER</a></li>
          <li><a href="{{ "/categories" | relURL }}"><i class="fa fa-th" aria-hidden="true"></i> 目录</a></li>
          <li><a href="{{ "/tags" | relURL }}"><i class="fa fa-tags" aria-hidden="true"></i> 标签</a></li>
          <li><a href="{{ "/about/contact/" | relURL }}"><i class="fa fa-envelope" aria-hidden="true"></i> 联系我!</a></li>
          <li><a href="https://cn.bing.com/search?q=site%3A+xtlog.com+输入搜索内容..." target="_blank"><i class="fa fa-search" aria-hidden="true"></i> 站内搜索</a></li>
      </ul>
  </nav>

  <main id="panel" class="mobile-panel">

    <!-- 移动端导航栏 -->
    <div class="mobile-navbar">
      <div class="mobile-navbar-icon">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="mobile-navbar-title">
        <a href="{{ "/" | relURL }}" class="logo">MAKE YOURSELF BETTER</a>
      </div>  
    </div>

    <!-- PC端导航栏 -->
    <div class="navbar" >
    <ul>
      <li><a href="{{ "/" | relURL }}" class="logo-title">MAKE YOURSELF BETTER</a></li>
      <li><a href="{{ "/categories" | relURL }}"><i class="fa fa-th" aria-hidden="true"></i> 目录</a></li>
      <li><a href="{{ "/tags" | relURL }}"><i class="fa fa-tags" aria-hidden="true"></i> 标签</a></li>
      <li><a href="{{ "/about/contact/" | relURL }}"><i class="fa fa-envelope" aria-hidden="true"></i> 联系我!</a></li>
      <li><a href="https://cn.bing.com/search?q=site%3A+xtlog.com+输入搜索内容..." target="_blank"><i class="fa fa-search" aria-hidden="true"></i> 站内搜索</a></li>
      <span id="play" class="shake shake-little shake-constant shake-constant--hover" style="float:right; font-size:.875rem" onclick="document.getElementById('play').style.display='none'">🙈</span>
    </ul>
  </div>

  <div class="container">
      
    <div class="title">
      <!-- <a href="{{ "/" | relURL }}">
        <img src="{{ "/images/logo.webp" | relURL }}" width="260px" height="48px" />
      </a> -->
    </div>

 