<button id="backtop" style="position:fixed;right:50px;bottom:25px" class="button button-pill button-small">
  <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<script>
var timer = null;
backtop.onclick = function () {
  cancelAnimationFrame(timer);
  timer = requestAnimationFrame(function fn() {
      var oTop = document.body.scrollTop || document.documentElement.scrollTop;
      if (oTop > 0) {
          document.body.scrollTop = document.documentElement.scrollTop = oTop - 150;
          timer = requestAnimationFrame(fn);
      } else {
          cancelAnimationFrame(timer);
      }
  });
}
</script>

<div id="title_wrapper">
<div id="title">
  <a href="{{ .Permalink }}">
      <div class="post-title">
          <img src="{{ "/images/post-title-icon.png" | relURL }}" />
          <div class="post-meta">
              <time>{{ .Date.Format "2006年1月2日 15:04" }}</time>
              <h1>{{ .Title }}</h1>
          </div>
      </div>
  </a>
</div>
</div>


<div id="toc_wrapper">
<div id="toc" class="post-toc">
<span class="title">
文章导航
</span>
  {{ .TableOfContents }}
</div>
</div>




<section class="post-content">
{{ .Content }}
</section>

<div id="bottom_wrapper">
  <div id="bottom">
  <!-- 分享 -->
  <div class="share">
    <a href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}"
    onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i
        class="fab fa-facebook-f"></i></a>
    <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"
    onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i
        class="fab fa-twitter"></i></a>
    <a href="http://service.weibo.com/share/share.php?url={{ .Permalink }}&sharesource=weibo&title={{ .Title }}"
    onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i
        class="fab fa-weibo"></i></a>
    <a href="http://connect.qq.com/widget/shareqq/index.html?url={{ .Permalink }}&sharesource=qzone&title={{ .Title }}&summary=点击查看原文"
    onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i
        class="fab fa-qq"></i></a>
  </div>
  
  <!-- 文章打赏 -->
  <div id="tip_btn" align="center" onclick="show_tip_img()">
  <a class="button  button-pill button-glow ">赞赏</a>
  </div>
  <div id="tip_img" align="center" style="display:none;margin-top:20px;">
  <img src="{{ "/images/tip-code.png" | relURL }}" height="300px" />
  </div>
</div>
</div>

<script>
function show_tip_img() {
  document.getElementById("tip_img").style.display = "block";
}
</script>

<!--如果是contact/projects页面，那么不展示文章标题和文章导航，
如果文章没有标题结构，那么就不展示文章导航。 -->
<script>
  var current_url = window.location.href;
  var toc = document.getElementById("toc");
  var title = document.getElementById("title");
  var bottom = document.getElementById("bottom");
  var toc_wrapper = document.getElementById("toc_wrapper");
  var title_wrapper = document.getElementById("title_wrapper");
  var bottom_wapper = document.getElementById("bottom_wrapper");
  
  if (current_url.endsWith("/about/contact/") || current_url.endsWith("/about/projects/")) {
    toc_wrapper.removeChild(toc);
    title_wrapper.removeChild(title);
    bottom_wapper.removeChild(bottom);
  }
  else if ("{{ .TableOfContents }}" == "") {
    toc_wrapper.removeChild(toc);
  }
  </script>
